<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>

   <div class="container">
        <div class ="side-left">
        <h1 class="style1"> Sistema de Planejamento de Recursos Empresariais </h1>

            <div class="menu">
                <div class="links"><a href="#">Estoque</a></div>
                <div class="links"><a href="#">Vendas</a></div>
                <div class="links"><a href="#">Compras</a></div>
                <div class="links"> <a href="#">Financeiro</a></div>
                <div class="links"> <a href="#">Relatórios</a></div>
            </div>
        </div>

        <div class="side-right">
            <h1> Dentro da DIV.</h1>
            <p>Este é um exemplo de template HTML.</p>
        </div>
    </div>


   
    
</body>
</html>