<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Estoque</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>

   <div class="container">
        <div class ="side-left">
        <h1 class="style1"> Aplicações </h1>

            <div class="menu">
                <div class="links"><a href="/"Home>Home</a></div>
                <div class="links"><a href="{% url  'estoque' %}">Estoque</a></div>
                <div class="links"><a href="#">Vendas</a></div>
                <div class="links"><a href="#">Compras</a></div>
                <div class="links"> <a href="#">Financeiro</a></div>
                <div class="links"> <a href="#">Relatórios</a></div>
                <div class="links"> <a href="#">Clientes</a></div>
            </div>
        </div>

        <div class="side-right">
            <h2 class="style3">Bem vindo(a) ao sistema de estoque</h2>
            
            <div class="form-box">
                
                <form action="" metod="get" >
            
                    <input type="text" name="item" placeholder="Digite o nome do item" required>
                    <input type="number" name="quantidade" placeholder="Digite a quantidade" required>
                    <input type="text" name="descricao" placeholder="Digite a descrição do item" required>
                    <input type="text" name="categoria" placeholder="Digite a categoria do item" required>
                    <button type="submit">Cadastrar</button>
                </form>
            </div>
            
           
        </div>
    </div>


   
    
</body>
</html>