<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>

   <div class="container">
        <div class ="side-left">
        <h1 class="style1"> Aplicações </h1>

            <div class="menu">
                <div class="links"><a href="/"Home>Home</a></div>
                <div class="links"><a href="{% url  'estoque' %}">Estoque</a></div>
                <div class="links"><a href="#">Vendas</a></div>
                <div class="links"><a href="#">Compras</a></div>
                <div class="links"> <a href="#">Financeiro</a></div>
                <div class="links"> <a href="#">Relatórios</a></div>
                <div class="links"> <a href="#">Clientes</a></div>
            </div>
        </div>

        <div class="side-right">
            
                <h2 class="style3">Bem vindo(a) ao sistema de estoque</h2>
                <h2 class="style4"> Escolha o que deseja fazer: </h2>
            

            <div class="menu">
                <div class="style4"><a href="{% url  'consultar-estoque' %}">Consultar estoque</a></div>
                <div class="style4"><a href="{% url  'adicionar-estoque' %}">Adicionar item</a></div>
                <div class="style4"><a href="#">Remover item</a></div>
                <div class="style4"><a href="#">Editar item</a></div>
                
                
            </div>
           
        </div>
    </div>


   
    
</body>
</html>